[package]
name = "nixos-update-status"
version = "0.1.0"
authors = ["Acizza <jgit@tuta.io>"]
edition = "2018"

[dependencies]
dirs = "~2.0.0"
reqwest = "~0.9.0"
rmp-serde = "~0.13.0"
serde = "~1.0.0"
serde_derive = "~1.0.0"

[profile.release]
lto = true
codegen-units = 1
